{%extends 'generalPageStyled.html'%}


{%block mainBlock%}

<style>
    form {
        width: 100%;
        text-align: center;
    }

    h2 {
        margin: 20px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: rgb(109, 134, 23);
        text-align: right;
        color:white;
        font-weight: bolder;
        font-size: 1.75vw;
    }

    button {
        font-size: 1.2vh;
        float:center;
    }

   #txt {
    text-align: center;
    margin: 10px auto;
    width: 50%;
    background-color: rgb(109, 134, 23);
    border-radius: 5px;
    color: rgb(240,240,240);
}

</style>
<section>
    <div class = "card-style">
        <div class = "card">
            <h2>Edit Employee Data</h2>
        </div>
    </div>
</section>

<form id='myForm' onsubmit="return loadName()">
    <div class = "card"> 
        <label>Email:</label>
        <input type ="text" name = "email"><br><br>
        <label>First Name:</label>
        <input type = "text" name = "firstName"><br><br>
        <label>Last Name:</label>
        <input type = "text" name = "lastName"><br><br>
        <label>Business Unit:</label>
        <input type = "text" name = "bu"><br><br>
        <label>State:</label>
        <input type = "text" name = "state"><br><br>
        <label>City:</label>
        <input type = "text" name = "city"><br><br>
        <label>Registered Licenses:</label>
        <input type = "text" name = "rl"><br><br>
        <label>Skill:</label>
        <input type = "text" name = "skill"><br><br>
        
        <button type = "submit"> Edit Employee </button>

    </div>
  
</form>
<div id='txt'></div>

<script>
  function loadName() {
    var email = document.forms["myForm"]["email"].value;
    var firstName = document.forms["myForm"]["firstName"].value;
    var lastName = document.forms["myForm"]["lastName"].value;
    var businessunit = document.forms["myForm"]["bu"].value;
    var state = document.forms["myForm"]["state"].value;
    var city = document.forms["myForm"]["city"].value;
    var rl = document.forms["myForm"]["rl"].value;
    var skill = document.forms["myForm"]["skill"].value;
    params = 'email='+email+'&firstName='+firstName+'&lastName='+lastName+'&bu='+businessunit+'&state='+state+'&city='+city+'&rl='+rl+'&skill='+skill;
    var xhttp = new XMLHttpRequest();
    xhttp.open("PUT", '/Employee/Edit', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("txt").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

</script>

{%endblock%}
