{%extends 'generalPageStyled.html'%}


{%block mainBlock%}

<style>
    form {
        width: 100%;
        text-align: center;
    }
    h2 {
        border-style: solid;
        border-color: transparent;
        border-bottom-color: rgb(109, 134, 23);
        width: 350px;
        text-align: right;
        color:white;
    }
    label {
        display: inline-block;
        width: 150px;
        text-align: right;
        color:white;
    }
    button {
        float:center;
    }
   

</style>

<h2>Edit Employee Data</h2>

<form id='myForm' onsubmit="return loadName()">
  <br><br>  
  <label>Email:</label>
  <input type ="text" name = "email"><br><br>
  <label>First Name:</label>
  <input type = "text" name = "firstName"><br><br>
  <label>Last Name:</label>
  <input type = "text" name = "lastName"><br><br>
  <label>Business Unit:</label>
  <input type = "text" name = "bu"><br><br>
  <label>State:</label>
  <input type = "text" name = "state"><br><br>
  <label>City:</label>
  <input type = "text" name = "city"><br><br>
  <label>Registered Licenses:</label>
  <input type = "text" name = "rl"><br><br>
  
  <button type = "submit"> submit </button>
</form>
<div id='txt'></div>

<script>
  function loadName() {
    var email = document.forms["myForm"]["email"].value;
    var firstName = document.forms["myForm"]["firstName"].value;
    var lastName = document.forms["myForm"]["lastName"].value;
    var businessunit = document.forms["myForm"]["bu"].value;
    var state = document.forms["myForm"]["state"].value;
    var city = document.forms["myForm"]["city"].value;
    var rl = document.forms["myForm"]["rl"].value;
    params = 'email='+email+'&firstName='+firstName+'&lastName='+lastName+'&bu='+businessunit+'&state='+state+'&city='+city+'&rl='+rl;
    var xhttp = new XMLHttpRequest();
    xhttp.open("PUT", '/Employee/Edit', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("txt").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

</script>

{%endblock%}
