{%extends 'generalPageStyled.html'%}


{%block mainBlock%}
<h2>Delete Employee Data</h2>

<form id='myForm' onsubmit="return loadName()">
  <label>Email:<input type ="text" name = "email"><br></label> <!-- Type in email to delete row. -->
  <button type = "submit"> Delete </button>
</form>
<span id='txt'></span>

<script>
  function loadName() {
    var email = document.forms["myForm"]["email"].value;
    params = 'email='+email; // Delete by email.
    var xhttp = new XMLHttpRequest();
    xhttp.open("DELETE", '/Employee/Delete', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("txt").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

</script>

{%endblock%}
