{%extends 'generalPageStyled.html'%}


{%block mainBlock%}

<style>
    form {
        width: 100%;
        text-align: center;
    }

    h2 {
        margin: 20px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: rgb(109, 134, 23);
        text-align: right;
        color:white;
        font-weight: bolder;
        font-size: 1.75vw;
    }

    button {
        font-size: 1.2vh;
        float:center;
    }

    #txt {
    text-align: center;
    margin: 10px auto;
    width: 50%;
    background-color: rgb(109, 134, 23);
    border-radius: 5px;
    color: rgb(240,240,240);
    }
</style>

<section>
    <div class = "card-style">
        <div class = "card">
            <h2>Delete Employee Data</h2>
        </div>
    </div>
</section>

<form id='myForm' onsubmit="return loadName()">
  <div class = "card">
        <label>Email:</label> <!-- Type in email to delete row. -->
        <input type ="text" name = "email"><br><br>
        <button type = "submit"> Delete Employee </button>
  </div>
  
</form>
<br><br><br><br>
<div id='txt'></div>

<script>
  function loadName() {
    var email = document.forms["myForm"]["email"].value;
    params = 'email='+email; // Delete by email.
    var xhttp = new XMLHttpRequest();
    xhttp.open("DELETE", '/Employee/Delete', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("txt").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

</script>

{%endblock%}
