{%extends 'generalPageStyled.html'%}


{%block mainBlock%}

<style>
    table {
        background-color: white;
        border-width: 2px;
        width: 50%;
        color:black;
        margin-left:auto;margin-right:auto;
    }

    button {
        background-color: white;
        color: black;
        text-align: center;
    }

    h2 {
        border-style: solid;
        border-color: transparent;
        border-bottom-color: rgb(109, 134, 23);
        width: 350px;
        text-align: right;
        color:white;
    }

</style>
<h2>Search Results</h2>
<button id="csv" class="btn" onclick="exportCSV()">Export to CSV</button>
<button id="txt" class="btn" onclick="exportTXT()">Export to TXT</button>
<table class = "table table-responsive" id = "table">
   <thead>
     <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>City</th>
      <th>State</th>
      <th>Skill</th>
      <th>License</th>
      <th>Job Title</th>
      <th>Business Unit</th>
      <th>Email</th>
      </tr>
   </thead>
   <tbody>
   {% for row in data %}
   <!-- A List of tuples so row is each item in the list
        and then the index is the column number.-->
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[9]}}</td>
        <td>{{row[8]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[11]}}</td>
      </tr>
   {% endfor %}
  </tbody>
</table>
<script>
  jQuery(document).ready(function($){
    $('table').excelTableFilter();
    $('.glyphicon').removeClass('glyphicon-arrow-down');
  });
  function exportCSV() {
    $("table").tableHTMLExport({
      type:'csv',
      filename:'SearchResults.csv',
    });
  }
  function exportTXT() {
    $("table").tableHTMLExport({
      type:'txt',
      filename:'SearchResults.txt',
    });
  }
</script>

{%endblock%}
