{%extends 'generalPageStyled.html'%}


{%block mainBlock%}

<style>
    form{
        width: 100%;
        text-align: center;
    }

    h2 {
        border-style: solid;
        border-color: transparent;
        border-bottom-color: rgb(109, 134, 23);
        width: 350px;
        text-align: right;
        color:white;
    }
    label {
        color:white;
    }
 
</style>



<h2>Delete Employee Data</h2>

<form id='myForm' onsubmit="return loadName()">
  <br><br><br><br><br>
  <label>Email:<input type ="text" name = "email"><br></label><br><br> <!-- Type in email to delete row. -->
  <button type = "submit"> Delete Employee </button>
</form>
<br><br><br><br>
<span id='txt'></span>

<script>
  function loadName() {
    var email = document.forms["myForm"]["email"].value;
    params = 'email'+email; // Delete by email.
    var xhttp = new XMLHttpRequest();
    xhttp.open("DELETE", '/Employee/Delete', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("txt").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

</script>

{%endblock%}
