{%extends 'generalPageStyled.html'%}


{%block mainBlock%}

<style>
    table {
        border-color: black;
        border-width: 2px;
        width: 50%;
        color:white;
        margin-left:auto;margin-right:auto;
    }

    h2 {
        border-style: solid;
        border-color: transparent;
        border-bottom-color: rgb(109, 134, 23);
        width: 350px;
        text-align: right;
        color:white;
    }

</style>
<h2>Employees</h2>

<table border = 1>
   <thead>
      <td>First Name</td>
      <td>Last Name</td>
      <td>City</td>
      <td>State</td>
      <td>Skill</td>
      <td>License</td>
      <td>Business Unit</td>
   </thead>

   {% for row in data %}
   <!-- A List of tuples so row is each item in the list
        and then the index is the column number.-->
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[9]}}</td>
        <td>{{row[8]}}</td>
        <td>{{row[3]}}</td>
      </tr>
   {% endfor %}
</table>


{%endblock%}
