{%extends 'generalPageStyled.html'%}


{%block mainBlock%}

<style>
    table {
        background-color: white;
        border-width: 2px;
        width: 50%;
        color:black;
        margin-left:auto;margin-right:auto;
    }

    h2 {
        border-style: solid;
        border-color: transparent;
        border-bottom-color: rgb(109, 134, 23);
        width: 350px;
        text-align: right;
        color:white;
    }

</style>
<h2>Employees</h2>

<table class = "table table-striped">
   <thead>
     <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>City</th>
      <th>State</th>
      <th>Skill</th>
      <th>License</th>
      <th>Business Unit</th>
      <th>Email</th>
      </tr>
   </thead>
   <tbody>
   {% for row in data %}
   <!-- A List of tuples so row is each item in the list
        and then the index is the column number.-->
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[9]}}</td>
        <td>{{row[8]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[11]}}</td>
      </tr>
   {% endfor %}
  </tbody>
</table>
<script>
  jQuery(document).ready(function($){
    console.log("Executed Code");
    $('table').excelTableFilter();
    $('.glyphicon').removeClass('glyphicon-arrow-down');
  });
</script>


{%endblock%}
