.column {
    border: 2px blue solid;
}

body {
    background-image: linear-gradient(#000000, #656565);
}

h1{
    width: 100%;
    text-align: center;
}

.jumbotron {
    background-color: rgb(240,240,240);
}

footer{
    margin: 350px;
    background-color: rgb(181, 73, 37);
}